<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quienes-somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Quienes-somos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="quienes-somos-content">
    <h2>Sobre encargosXpress</h2>
    <p>
      EncargosXpress es una empresa dedicada a la gestión eficiente y rápida de
      encargos para satisfacer las necesidades de nuestros clientes. Nos
      especializamos en proporcionar soluciones ágiles para la gestión de
      pedidos y entregas, optimizando cada paso del proceso para garantizar la
      máxima satisfacción del cliente.
    </p>
    <p>
      Nuestro equipo está compuesto por profesionales altamente capacitados y
      comprometidos con la excelencia en el servicio al cliente. Trabajamos
      arduamente para ofrecer soluciones personalizadas y adaptadas a las
      necesidades específicas de cada cliente, garantizando un servicio
      confiable y de calidad en cada encargo que gestionamos.
    </p>
    <p>
      En encargosXpress, nuestra misión es simplificar el proceso de gestión de
      encargos para empresas y particulares, brindando una experiencia sin
      complicaciones y garantizando la entrega puntual y segura de cada pedido.
    </p>
  </div>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="informacion-general">
        <ion-icon name="ellipse"></ion-icon>
        <ion-label>Informacion general</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="quienes-somos">
        <ion-icon name="square"></ion-icon>
        <ion-label>Quienes somos </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
