ion-content {
    --ion-background-color: #f4f4f4;
  }
  
  ion-toolbar {
    --ion-color-primary: #100c2c;
  }
  
  ion-button {
    --background: #100c2c;
    --border-radius: 20px;
    --color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  ion-input {
    --border-radius: 10px;
    --border-color: #100c2c;
    margin-left: 1em;
    font-size: 1.4em;
    width: fit-content;
    
  }
  
  ion-select {
    --border-radius: 10px;
    --border-color: #100c2c;
    font-size: 1.5em;
    margin-left: 1em;
    width: fit-content;
  }
  
  ion-label {
    font-weight: bold;
    margin-left: 1em;
    font-size: 1.5em;
  }
  
  ion-alert {
    --ion-color-primary: #100c2c;
  }
  
  ion-fab-button{
    --ion-color-primary: #100c2c;
  }
  ion-toolbar{
    --ion-color-primary: #100c2c;
    --color: #fff;
  }
  ion-header{
    --ion-background-color: #100c2c;

  }

.borrar {
  --background: #df2c14;
  --border-radius: 20px;
  --color: #fff;
}
