<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">detalles</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Introduccion del nombre del encargo -->
  <b><ion-label>Nombre del Encargo</ion-label></b>
  <ion-input [(ngModel)]="arrayColeccionEncargos.data.nombre"></ion-input>

  <!-- Introduccion de la descripcion del encargo -->
  <b><ion-label>Cantidad Encargada</ion-label></b>
  <ion-input [(ngModel)]="arrayColeccionEncargos.data.cantidad"></ion-input>

  <!-- Nuevo campo para el estado -->
  <b><ion-label>Estado del Encargo</ion-label></b>
  <ion-select [(ngModel)]="arrayColeccionEncargos.data.estado">
    <ion-select-option value="pendiente">Pendiente</ion-select-option>
    <ion-select-option value="en-progreso">En Progreso</ion-select-option>
    <ion-select-option value="completado">Completado</ion-select-option>
  </ion-select>

  <ion-button *ngIf="existeEncargo==false" (click)="clicBotonInsertar()"
    >Añadir Encargo</ion-button
  >
  <ion-button *ngIf="existeEncargo==true" (click)="clickBotonModificar()"
  >Modificar Encargo</ion-button
>
  <ion-button id="borrar">Borrar Encargo</ion-button>
  <ion-alert
    trigger="borrar"
    header="Esta seguro que desea borrar {{arrayColeccionEncargos.data.nombre}}"
    [buttons]="alertButtons"
  ></ion-alert>

  <ion-button (click)="callSomeone()">Llamar</ion-button>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="clickSocialShare()">
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
