<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejemplo Encargos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label>Nombre del Encargo</ion-label>
  <ion-input [(ngModel)]="encargoEditando.nombre"></ion-input>

  <ion-label>Descripción del Encargo</ion-label>
  <ion-input [(ngModel)]="encargoEditando.descripcion"></ion-input>

  <ion-button (click)="clicBotonInsertar()">Añadir Encargo</ion-button>
  <ion-button (click)="clicBotonBorrar()">Borrar Encargo</ion-button>
  <ion-button (click)="clickBotonModificar()">Modificar Encargo</ion-button>

  <h1>LISTA DE ENCARGOS</h1>
  <ion-list>
    <ion-item *ngFor="let documentEncargo of arrayColeccionEncargos" (click)="selectEncargo(documentEncargo.id, documentEncargo.encargo)">
      <ion-grid>
        <ion-row>
          <h2>{{documentEncargo.encargo.nombre}}</h2>
        </ion-row>
        <ion-row>
          <p>{{documentEncargo.encargo.descripcion}}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>